<a href="https://colab.research.google.com/github/l3mam123/recouvrement/blob/main/data_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
data = pd.read_csv("/content/bank_data.csv")

In [8]:
data.head()

,id,expected_recovery_amount,actual_recovery_amount,recovery_strategy,age,sex
0,2030,194,263.540,Level 0 Recovery,19,Male
1,1150,486,416.090,Level 0 Recovery,25,Female
2,380,527,429.350,Level 0 Recovery,27,Male
3,1838,536,296.990,Level 0 Recovery,25,Male
4,1995,541,346.385,Level 0 Recovery,34,Male

In [19]:
data[['id','expected_recovery_amount']]

        id  expected_recovery_amount
0     2030                       194
1     1150                       486
2      380                       527
3     1838                       536
4     1995                       541
...    ...                       ...
1877   361                      9785
1878   196                      9857
1879   313                      9859
1880  1781                      9920
1881   522                      9964

[1882 rows x 2 columns]

In [18]:
data[['expected_recovery_amount','id']]

      expected_recovery_amount    id
0                          194  2030
1                          486  1150
2                          527   380
3                          536  1838
4                          541  1995
...                        ...   ...
1877                      9785   361
1878                      9857   196
1879                      9859   313
1880                      9920  1781
1881                      9964   522

[1882 rows x 2 columns]